<!DOCTYPE html>
<html>
<head th:replace="~{templates :: head}"></head>
<body>

	<div th:replace="~{templates :: header}"></div>
	
	<div class="container ">
	
	<a th:href="@{/home}" class="btn btn-outline-dark card-button mb-3">Voltar</a>
		
		<nav class="navbar card-descricao navbar-dark navbar-expand d-flex justify-content-center bg-dark" >
			<div class="navbar navbar-nav ">
	      		<a th:classappend="${url} == 'todos' ? 'active'"class="nav-item nav-link" th:href="@{/user/pedidos}">Todos</a>
		        <a th:classappend="${url} == 'aceitos' ? 'active'"class="nav-item nav-link" th:href="@{/user/pedidos/aceitos}">Aceitos</a>
		        <a th:classappend="${url} == 'recusados' ? 'active'"class="nav-item nav-link" th:href="@{/user/pedidos/recusados}">Recusados</a>	
		        <a th:classappend="${url} == 'analise' ? 'active'"class="nav-item nav-link" th:href="@{/user/pedidos/analise}">Em análise</a>
		        <a th:classappend="${url} == 'entregues' ? 'active'"class="nav-item nav-link" th:href="@{/user/pedidos/entregues}">Entregue</a>
			</div>	  					
		</nav>
		<div class="row">
			<div class="col-12 col-sm-12 col-md-6 col-xl-6 col-xxl-6" th:each="pedido : ${pedidos}" >
		
			<div class="card mb-3 shadow-nova">
				<div th:switch="${pedido.status.name}">
					<div th:case="'EM ANALISE'">
						<b><div class="card-header bg-warning ">Pedido nº <span th:text="${pedido.id}"></span></div></b>
					</div>
					<div th:case="'ACEITO'">
						<b><div class="card-header bg-success text-white">Pedido nº <span th:text="${pedido.id}"></span></div></b>
					</div>
					<div th:case="'RECUSADO'" >
						<b><div class="card-header bg-danger text-white">Pedido nº <span th:text="${pedido.id}"></span></div></b>
					</div>
					<div th:case="'ENTREGUE'">
						<b><div class="card-header bg-secondary text-white">Pedido nº <span th:text="${pedido.id}"></span></div></b>
					</div>
				</div>
			
				<div class="card-body text-center">
					<p>Status: <b><span th:text="${pedido.status.name}"></span></b></p>
					<div th:switch="${pedido.status.name}">
						<div th:case="'EM ANALISE'">
							<p>Este pedido está na fila para ser avaliado. Será avaliado em minutos por um administrador!</span></p>
						</div>
						<div th:case="'ACEITO'">
							<p>O medicamento já está a caminho do endereço "<b><span th:text="${user.endereco}"></span></b>"</p>
						</div>
						<div th:case="'RECUSADO'">
							<p>O pedido foi recusado pois a receita é inválida.</span></p>
						</div>
						<div th:case="'ENTREGUE'">
							<p>Este pedido já foi entregue com sucesso ao destino.</span></p>
						</div>
					</div>
					
					<img class="mb-3 img-receita" alt="Image" th:src="@{/user/imagem/{id}(id=${pedido.id})}" width=100% height="250" />
					
					<a th:href="@{/user/detalhePedido/{id}(id=${pedido.id})}" class="btn btn-outline-dark card-button mb-3"><i class="fas fa-pills m-2 mt-0 mb-0"></i>Ver detalhes do pedido</a>
					
					<div th:switch="${pedido.status.name}">
						<div th:case="'EM ANALISE'">
							<a th:href="@{/user/excluirPedido/{id}(id=${pedido.id})}" class="btn card-button"><i class="fas fa-trash delete-icon"></i></a>
						</div>
					</div>
				</div>	
			</div>
			
		</div>
		</div>
		
	</div>
	<footer th:replace="~{templates :: footer}"></footer>


</body>
</html>