<!DOCTYPE html>
<html>
<head th:replace="~{templates :: head}"></head>
<body>

	<div th:replace="~{templates :: header}"></div>

	<div class="container">
		<a th:href="@{/user/pedidos}" class="btn btn-outline-dark mb-3 card-button shadow-nova">Voltar</a>
		<h1 style="font-size: 1.3em" class="text-center mb-3">
			Número do pedido: <span th:text="${pedido.id}"></span>
		</h1>


		<div class="card mb-3 shadow-nova">

			<div class="card-header"><b>Lista de remédios solicitados</b></div>
				<nav th:each="remedio : ${pedidoRemedios}" class="navbar navbar-light bg-light p-2">
					<span th:text="${remedio.nome}" class=""></span>
					
					<a class="navbar-brand" href="#"> <img class="p-0 m-0"
						alt="Image" th:src="@{/user/remedio/imagem/{id}(id=${remedio.id})}"
						width="35" height="35" /> 
					</a>
				</nav>
		</div>
		
		<div class="card mb-3">
			<div class="card-header"><b>Receita médica a ser avaliada:</b></div>
				<div class="card-body text-center">
					<img class="img-receita-detalhe" alt="Image" th:src="@{/user/imagem/{id}(id=${pedido.id})}" width=100% height="250" />
				</div>
			</div>		
	</div>
	
	<div class="text-center">
		<p>Status:  <b><span th:text="${pedido.status.name}"></span></b></p>
	</div>
	<footer th:replace="~{templates :: footer}"></footer>


</body>
</html>