<!DOCTYPE html>
<html>

<head th:replace="~{templates :: head}"></head>

<body>

	<nav class="bg-success mb-3 p-2" style="color: white">
		<div class="text-center">
			<a th:href="@{/home}" class="header-title">Delivery SUS<i
				class="fas fa-laptop-medical m-2 mt-0 mb-0"></i></a>
		</div>
	</nav>

	<div class="container">
		<div class="text-center" id="success">
			<header class="text-center">
				<div class="mb-3 mt-3">
					<h4 class="login-title">Dados atualizados com sucesso! 😉</h4>
				</div>
				<nav>
					<h4><a class="btn btn-outline-primary" th:href="@{/home}">OK</a></h4>
				</nav>
			</header>
		</div>
		
	</div>
	<footer th:replace="~{templates :: footer}"></footer>
</body>
</html>