<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Delivery MED</title>
	<!-- JavaScript Bundle with Popper -->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
	<!-- CSS only -->
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
		crossorigin="anonymous" />
	<link rel="icon" type="imagem/png" href="/imagens/favicon.ico" />
	<script src="https://kit.fontawesome.com/55cdf805a8.js" crossorigin="anonymous"></script>
	<link href="../estilo.css" rel="stylesheet">
	<link href="../static/estilo.css" rel="stylesheet">
	
</head>

<body>

	<nav class="bg-success mb-3 p-2" style="color: white">
		<div class="text-center">
			<a th:href="@{/home}" class="header-title">Delivery MED<i
				class="fas fa-laptop-medical m-2 mt-0 mb-0"></i></a>
		</div>
	</nav>

	<div class="container text-center">

			<div class="card-body">
				
				<form th:action="@{/user/login}" method="post" class="tela-login">
				
					<h4 class="login-title mb-3">Faça seu login</h4>
					
					<div class="form-floating mb-3">
						<input name="cpf" type="text" class="form-control shadow-nova  card-descricao"
							placeholder="digite o seu CPF..." minlength="11" maxlength="11"
							onkeypress="return onlynumber();"> <label for="cpf">CPF</label>
					</div>

					<div class="form-floating mb-3">
						<input name="password" type="password"
							class="form-control shadow-nova card-descricao"
							placeholder="digite a sua senha..." maxlength="10"> <label
							for="password">Senha</label>
					</div>

					<div th:if="${param.error}"
						style="color: red; font-weight: bolder;" class="mb-3">
						Credenciais inválidas. Tente novamente.</div>

					<div class="row">
						<div class="col-6">
							<button class="btn btn-outline-success mb-3 card-button"
								type="submit" style="width: 100%">Logar</button>
						</div>
						<div class="col-6">
							<a th:href="@{/user/login/registrarForm}"
								class="btn btn-outline-primary card-button" style="width: 100%">Registrar</a>
						</div>


					</div>
				</form>
			</div>
		</div>
	<footer th:replace="~{templates :: footer}"></footer>
</body>
</html>