<!DOCTYPE html>
<html>
	<head th:replace="~{templates :: head}"></head>
	<body>

	<nav class="bg-success mb-3 p-2" style="color: white">
		<div class="text-center">
			<a th:href="@{/home}" class="header-title">Delivery MED<i class="fas fa-laptop-medical m-2 mt-0 mb-0"></i></a>
		</div>
	</nav>
		
	<div class="container text-center">
		<div class="login-title mb-3"> Ops... você não possui permissão para visualizar esta página</div>
		
		<button onclick="goBack()" class="btn btn-outline-primary card-button mb-3 ">Voltar</button>
		<a th:href="@{/home}" class="btn btn-outline-dark card-button mb-3">Menu</a>
		
	</div>
	
	<footer th:replace="~{templates :: footer}"></footer>
	
</body>
</html>